﻿<%@ Page Language="C#" MasterPageFile="~/admin/mymaster.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="admin_Home" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/admin/images/bg_top.jpg">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
        <table style="width: 968px; height: 330px">
            <tr>
                <td align="left" colspan="2" 
                    
                    style="color: #008000; font-size: 14pt; font-style: italic; font-weight: normal; font-family: 'Microsoft Sans Serif'">
                    &nbsp;<asp:Image ID="Image2" runat="server" Height="52px" 
                        ImageUrl="~/admin/images/home.jpg" Width="103px" />
                    <br />
                    WELCOME TO HOME IN ONLINE SALES REPORT&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                    <asp:LinkButton ID="lnkLogout" runat="server" Font-Size="10pt" 
                        onclick="lnkLogout_Click">Logout</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="Lnkadmin" runat="server" onclick="Lnkadmin_Click">Admin 
                    Login</asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="Lnkuser" runat="server" onclick="Lnkuser_Click">User Login</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="Lnkadmincpw" runat="server" onclick="Lnkadmincpw_Click">Admin 
                    Change Password</asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkupw" runat="server" onclick="lnkupw_Click">User Change 
                    Password</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="LnkRag" runat="server" onclick="LnkRag_Click">Ragistration</asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="LnkRegview" runat="server" onclick="LnkRegview_Click">View 
                    User</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="Lnkdar" runat="server" onclick="Lnkdar_Click">Daily Report</asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkdrv" runat="server" onclick="lnkdrv_Click">Daily Report 
                    View</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="lnkRecord" runat="server" onclick="lnkRecord_Click">Record</asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkrv" runat="server" onclick="lnkrv_Click">Record View</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="LnkLeave" runat="server" onclick="LnkLeave_Click">Leave
                    </asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkLv" runat="server" onclick="lnkLv_Click">Leave View</asp:LinkButton>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LinkButton ID="Lnksan" runat="server" onclick="Lnksan_Click">Leave Sanction</asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkuhome" runat="server" onclick="lnkuhome_Click">User Home</asp:LinkButton>
                </td>
            </tr>
        </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</asp:Panel>
</asp:Content>

